
header{
    border-bottom: 1px solid lightgray;
}
section{
    box-shadow: 0 3px 5px rgba(122,122,122,0.5);
}
.photo{
    margin: 10px;
}
.card{
    min-width: 250px;
    max-width: 350px;
    box-shadow: 3px 3px 5px rgba(122,122,122,0.5);
}
footer{
    border-top: 1px solid lightgray;
    margin-top: 20px;
    padding-top: 20px;
}